In [20]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

pd.set_option('display.max_columns', 500)

In [44]:
df_org = pd.read_csv('order_data_202110.csv')
#df_org

In [51]:
df_org = pd.read_csv('order_data_202110.csv')
df_org['수령인 주소'] = map(df_org['수령인 주소'].apply(lambda x: (str(x).split(' ')[:2])))
df_org['수령인 주소']

TypeError: map() must have at least two arguments.

In [4]:
df_org[df_org['결제구분']=='T'].groupby(df_org['결제수단']).size()

결제수단
계좌이체              76
무통장입금            134
선불금              327
신용카드            1467
적립금,계좌이체           3
적립금,무통장입금        110
적립금,신용카드         616
적립금,쿠폰,무통장입금       3
적립금,쿠폰,신용카드       43
적립금,쿠폰,휴대폰         1
적립금,휴대폰           11
쿠폰,무통장입금           1
쿠폰,신용카드            6
휴대폰               32
dtype: int64

In [17]:
df_org[df_org['결제구분']=='F'].groupby(df_org['결제수단']).size()

결제수단
무통장입금        34
적립금,무통장입금    13
dtype: int64

In [16]:
df_org[df_org['수령인']==926]

,주문번호,품목별 주문번호,총 주문금액,총 결제금액,상품번호,주문상품명,주문상품명(옵션포함),수량,판매가,수령인,수령인 우편번호,수령인 주소,결제구분,결제수단,발주일,배송국가
1471,20210703-0000107,20210703-0000107-01,69900.0,69900.0,96,워터포미 캐나다 시서스 가루 추출물 분말 차 시저스,워터포미 캐나다 시서스 가루 추출물 분말 차 시저스(수량=1개),1,69900.0,926,32977,충청남도 논산시 시민로307번길 28 (강산동) 부영아파트,T,휴대폰,2021-07-03 12:59:15,NaN
2752,20211001-0000176,20211001-0000176-01,89700.0,0.0,103,워터포미 저분자콜라겐 어류 피쉬콜라겐 먹는 엘라스틴 수용성 펩타이드 100g,워터포미 저분자콜라겐 어류 피쉬콜라겐 먹는 엘라스틴 수용성 펩타이드 100g,1,19800.0,926,32977,충청남도 논산시 시민로307번길 28 (강산동) 부영아파트,F,"적립금,무통장입금",NaN,NaN
2753,20211001-0000176,20211001-0000176-02,89700.0,0.0,96,워터포미 캐나다 시서스 가루 추출물 분말 차 시저스,워터포미 캐나다 시서스 가루 추출물 분말 차 시저스(수량=1개),1,69900.0,926,32977,충청남도 논산시 시민로307번길 28 (강산동) 부영아파트,F,"적립금,무통장입금",NaN,NaN

In [19]:
df_org.groupby(df_org['수령인']).size()

수령인
0       3
1       1
2       1
3       1
4       1
       ..
2055    2
2056    1
2057    1
2058    1
2059    2
Length: 2060, dtype: int64